DATA TYPE sequence data type (LIST):
- List: collection multiple element together
- similar array
- kisi bi datatype value ko stor kar sakte hai (heterozygous )
- square bracket []
- index start 0
- list are mutuable = change/update delete/insert

In [ ]:
a= [10,500,"abc"]
print(a,type(a))

[10, 500, 'abc'] <class 'list'>

In [ ]:
mylist=[10,20,30,40]
print(mylist[0:5:3])

[10, 40]

In [ ]:
mylist=[10,20,30,40]
mylist[0]=86
mylist.append(1000) #insert at last,only one element
mylist.extend("krishan")      # extend acsses itreable value(list,string,tuple,dic,sets)=asa data jis pe for loop chala sakte hai
mylist.extend([100,400,'hey'])
print(mylist)

[86, 20, 30, 40, 1000, 'k', 'r', 'i', 's', 'h', 'a', 'n', 100, 400, 'hey']

In [ ]:
mylist=[10,20,30,40]
dir(mylist)  #function list ha type janne ke liye

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
mylist=[10,20,30,40]
mylist.pop()   #by defult last value delete, a=mylist.pop(0) stor bhi kar sakte hai
print(mylist)

[10, 20, 30]

In [ ]:
mylist=[10,20,56,43,23,30,40]
mylist.sort()
print(mylist)
mylist.sort(reverse = True)
print(mylist)

[10, 20, 23, 30, 40, 43, 56]
[56, 43, 40, 30, 23, 20, 10]

Find the minimum element in a list without using inbuilt functions.

In [ ]:
mylist=[100,500,600,400,40,30]
mylist.sort()
print(mylist ,"mini value",mylist[0])

[30, 40, 100, 400, 500, 600] mini value 30

In [ ]:
#method 2
mylist=[100,500,600,400,40,30]
mini=mylist[0]
for i in mylist:
  if mini>i:
    mini=i
print("minium value: ",mini)

minium value:  30

Write a Python program to find the maximum element in a list without using inbuilt functions.

In [ ]:
mylist=[100,500,600,400,40,30]
max=mylist[0]
for i in mylist:
  if i>max:
    max=i
print(max)

600

Write a Python program to find all elements in a list that are divisible by 5 and store them in a new list.

In [ ]:
mylist=[100,500,600,34,56,78,400,40,30]
newlist=[]
for i in mylist:
  if i%5==0:
    newlist.append(i)
print(newlist)

[100, 500, 600, 400, 40, 30]

In [ ]:
mylist=[100,500,600,34,56,78,400,40,30]
for i in range(0,len(mylist)):
  print(i,mylist[i])

0 100
1 500
2 600
3 34
4 56
5 78
6 400
7 40
8 30

Write a Python program to find and print duplicate elements in a list using a while loop.

In [ ]:
mylist=[123,500,60,400,40,500,1012,123]
#dupilicat value
#1. list uniqw
uniqelist=[]
duplist=[]
for i in mylist:
  if i not in uniqelist:
    uniqelist.append(i)
  else:
    duplist.append(i)
print(duplist)

[500, 123]

Write a Python program to find and print duplicate elements in a list using a while loop.

In [ ]:
mylist=[123,500,60,400,40,500,1012,123,60]
duplist=[]
uniqlist=[]
start=0
end=len(mylist)-1
while(start<end):
  if mylist[start]==mylist[end]:
    print("start",mylist[start],"end",mylist[end])
    duplist.append(mylist[start])

  end-=1


  if end==start:
    end=len(mylist)-1
    start +=1

print("duplicat list:",duplist)

start 123 end 123
start 500 end 500
start 60 end 60
duplicat list: [123, 500, 60]

Write a Python program to find all pairs of numbers in a list whose sum is equal to 9.

mylist=[1,2,4,7,14,17,32]

In [ ]:
mylist=[1,2,4,7,14,17,32]
list9=[]
start=0
end=len(mylist)-1
while(start<end):
  if mylist[start]+mylist[end]==9:
    print("start",mylist[start],"end",mylist[end])
    list9.extend([mylist[start],mylist[end]])
    #list9.append(mylist[end])

print("tow add 9:",list9)

Write a Python program to find the maximum profit that can be earned by buying and selling a stock once, given a list of stock prices.

mylist=[10,3,7,14,13]

In [ ]:
mylist=[10,3,7,14,13]
maxdiff=0
start=0
end=len(mylist)-1
while(start<end):
  if maxdiff<mylist[end]-mylist[start]:
    maxdiff=mylist[end]-mylist[start]
  end-=1
  if end==start:
    end=len(mylist)-1
    start +=1
print("max profit sell :",maxdiff)

max 11

Write a Python program to find all pairs of numbers in a list whose sum is equal to 14.

In [ ]:
mylist=[2,4,5,7,9,13,16]
list14=[]
start=0
end=len(mylist)-1
while(start<end):
  if mylist[start]+mylist[end]==14:
    print("start",mylist[start],"end",mylist[end])
    # break
    list14.append(mylist[(start)])
    list14.append(mylist[end])
    break
  end-=1
  if end==start:
    end=len(mylist)-1
    start +=1

print("tow add 14:",list14)

start 5 end 9
tow add 14: [5, 9]

Write a Python program to find all triplets in a list whose sum is equal to 30 using the two‑pointer technique.

In [ ]:
#method 1.
mylist = [2,4,5,7,9,13,16]
for i in range(len(mylist)):
  for j in range(i+1,len(mylist)):
    for k in range(j+1,len(mylist)):
      if mylist[i]+mylist[j]+mylist[k]==30:
        print(mylist[i],mylist[j],mylist[k])

5 9 16

Write a Python program to find all triplets in a list whose sum is equal to 30 using the two‑pointer technique.

In [ ]:
mylist = [2,4,5,7,9,13,16]
i=0
while i< len(mylist):
  secnd = i+1
  while secnd <len(mylist):
    third= secnd+1
    while third <len(mylist):
      if mylist[i]+mylist[secnd]+mylist[third]==30:
        print(mylist[i],mylist[secnd],mylist[third])
      third +=1
    secnd +=1
  i +=1

5 9 16

Write a Python program to find all triplets in a list whose sum is equal to 30 using the two‑pointer technique.

In [ ]:
mylist = [2,4,5,7,9,13,16]
for i in range(len(mylist)):
  start=i+1
  end=len(mylist)-1
  while start<end:
    sum = mylist[i]+mylist[start]+mylist[end]
    if sum==30:
      print(mylist[i],mylist[start],mylist[end])
      start +=1
      end -=1
    elif sum<30:
      start +=1
    else:
      end -=1

5 9 16

list comprehension :-
[expression for item in iterable if condition]

In [ ]:
[i for i in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
newlist=[i**2 for i in range(1,10)]
print(newlist)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
newlist=[i**2 for i in range(1,10) if i%2==0]
print(newlist)

[4, 16, 36, 64]

for Nested loop:-

In [ ]:
[(i,j) for i in range(1,6) for j in range(5,7)]

[(1, 5),
 (1, 6),
 (2, 5),
 (2, 6),
 (3, 5),
 (3, 6),
 (4, 5),
 (4, 6),
 (5, 5),
 (5, 6)]

Write a Python program that creates a list of lists, where each inner list contains a single number from 5 to 9.

In [ ]:
#[[5],[6],[7],[8],[9]]
newlist = []
for i in range(5,10):
  templist =[]
  templist.append(i)
  newlist.append(templist)
print(newlist)

[[5], [6], [7], [8], [9]]

Write a Python program to generate a nested list (list of lists) where each inner list contains sequential numbers starting from 5, with lengths increasing in each iteration.

In [ ]:
#[[5],[6,7],[8,9,10]]
x=5
newlist = []
for i in range(1,4):
  templist=[]     #recreating the templist again and again
  for j in range(1,i+1):
    templist.append(x)   # adding number s,  6,7 into the temp list
    x+=1
  newlist.append(templist)   #append the temp list to original list
  print(" ")
print(newlist)

[[5], [6, 7], [8, 9, 10]]

Write a Python program to generate a nested list (list of lists) where each inner list contains numbers starting from 1 up to the current iteration count.

[[1],[1,2],[1,2,3],[1,2,3,4]]

[[1],[1,2],[1,*,3],[1,*,*,4],[1,*,*,*,5]]

In [ ]:
mylist=[]
for i in range(1,5):
  templist=[]
  for j in range(1,i+1):
    templist.append(j)
  mylist.append(templist)
  print()
print(mylist)

[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4]]

Write a Python program to generate a triangular pattern of numbers where the first and last positions are numbers, the diagonal is numbers, and the remaining positions are filled with *. Also store the pattern in a nested list.
1

1 2

1 * 3

1 * * 4

1 2 3 4 5

In [ ]:
mylist=[]
for i in range(1,6):
  templist=[]
  for j in range(1,i+1):
    if i==j or j==1 or i==5:
      print(j,end=" ")
      templist.append(j)
    else:
      print("*",end=" ")
      templist.append('*')
  mylist.append(templist)
  print()
print(mylist)

1
1 2
1 * 3
1 * * 4
1 2 3 4 5
[[1], [1, 2], [1, '*', 3], [1, '*', '*', 4], [1, 2, 3, 4, 5]]