In [ ]:
n = int(input("Enter Number : "))
for rows in range(n):
  for column in range(n):
    print("*",end=" ")
  print()

Enter Number : 4
* * * *
* * * *
* * * *
* * * *

In [ ]:
n = int(input("Enter Number : "))
for rows in range(1,n+1):
  for col in range(1,n+1):
    print(col,end=" ")
  print()

Enter Number : 4
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [ ]:
n = int(input("Enter Number : "))
for rows in range(1,n+1):
  for col in range(1,n+1):
    print(rows,end=" ")
  print()

Enter Number : 5
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [ ]:
n = int(input("Enter Number : "))
for rows in range(n,0,-1):
  for col in range(n):
    print(rows,end=" ")
  print()

Enter Number : 4
4 4 4 4
3 3 3 3
2 2 2 2
1 1 1 1

In [ ]:
n = int(input("Enter Number : "))
for rows in range(n):
  for col in range(n,0,-1):
    print(col,end=" ")
  print()

Enter Number : 4
4 3 2 1
4 3 2 1
4 3 2 1
4 3 2 1

In [ ]:
n = int(input("Enter Number : "))
for rows in range(n):
  temp =1
  for col in range(n):
    print(temp,end=" ")
    temp +=2
  print()

Enter Number : 4
1 3 5 7
1 3 5 7
1 3 5 7
1 3 5 7

In [ ]:
n = int(input("Enter Number : "))
for rows in range(n):
  temp =n*2-1
  for col in range(n):
    print(temp,end=" ")
    temp -=2
  print()

Enter Number : 4
7 5 3 1
7 5 3 1
7 5 3 1
7 5 3 1

In [ ]:
n = int(input("Enter Number : "))
for rows in range(n):
  temp =2
  for col in range(n):
    print(temp,end=" ")
    temp +=2
  print()

Enter Number : 4
2 4 6 8
2 4 6 8
2 4 6 8
2 4 6 8

In [ ]:
n = int(input("Enter Number : "))
temp =1
for rows in range(n):
  for col in range(n):
    print(temp,end=" ")
    temp +=1
  print()

Enter Number : 4
1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16

In [ ]:
n = int(input("Enter Number : "))
temp =n*n
for rows in range(n):
  for col in range(n):
    print(temp,end=" ")
    temp -=1
  print()

Enter Number : 4
16 15 14 13
12 11 10 9
8 7 6 5
4 3 2 1

In [ ]:
n = int(input("Enter Number : "))
temp =1
for rows in range(n):
  for col in range(n):
    print(temp,end=" ")
    temp +=2
  print()

Enter Number : 4
1 3 5 7
9 11 13 15
17 19 21 23
25 27 29 31

In [ ]:
n = int(input("Enter Number : "))
temp =2*n*n -1
for rows in range(n):
  for col in range(n):
    print(temp,end=" ")
    temp -=2
  print()

Enter Number : 4
31 29 27 25
23 21 19 17
15 13 11 9
7 5 3 1

In [ ]:
n = int(input("Enter Number : "))
temp =2
for rows in range(n):
  for col in range(n):
    print(temp,end=" ")
    temp +=2
  print()

Enter Number : 4
2 4 6 8
10 12 14 16
18 20 22 24
26 28 30 32

In [ ]:
n = int(input("Enter Number : "))
temp =2*n*n
for rows in range(n):
  for col in range(n):
    print(temp,end=" ")
    temp -=2
  print()

Enter Number : 4
32 30 28 26
24 22 20 18
16 14 12 10
8 6 4 2

In [ ]:
n = int(input("Enter Number : "))
for rows in range(n):
  for col in range(n):
    print(chr(65+rows),end=" ")
  print()

Enter Number : 4
A A A A
B B B B
C C C C
D D D D

In [ ]:
n = int(input("Enter Number : "))
for rows in range(n):
  for col in range(n):
    print(chr(65+col),end=" ")
  print()

Enter Number : 4
A B C D
A B C D
A B C D
A B C D

In [ ]:
n = int(input("Enter Number : "))
for rows in range(n):
  temp = 0
  for col in range(n):
    print(chr(65+temp),end=" ")
    temp +=1
  print()

Enter Number : 4
A B C D
A B C D
A B C D
A B C D

In [ ]:
n = int(input("Enter Number : "))
temp =0
for rows in range(n):
  for col in range(n):
    print(chr(65+temp),end=" ")
    temp +=1
  print()

Enter Number : 4
A B C D
E F G H
I J K L
M N O P

In [ ]:
n = int(input("Enter Number : "))
temp =n*n-1
for rows in range(n):
  for col in range(n):
    print(chr(65+temp),end=" ")
    temp -=1
  print()

Enter Number : 4
P O N M
L K J I
H G F E
D C B A